@model List<myLibrary.Models.Book>
        @{
            ViewBag.Title = "Все книги";
        }
        <a asp-action="Create">Добавить книгу</a>
        <form method="get">
        <div class="form-inline">
            <label class="control-label">Имя: </label>
            @Html.TextBox("name")
            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>
        <table class="table">
            <tr><td>Книга</td><td>Автор</td></tr>

            @foreach (var b in Model)
            {
            <tr>
                <td>@b.NameBook</td>
                <td>
                    @foreach (var a in b.Lib.Select(a => a.Author).ToList())
                    {
                    <p>@a.NameAuthor </p>
                    }
                </td>
                    <td>
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@b.Id">Подробнее</a> |
                        <a asp-action="Edit" asp-controller="Home" asp-route-id="@b.Id">Изменить</a>
                    </td>
                </tr>

            }

        </table>

